aniso8601==9.0.1
asgiref==3.3.4
boto3==1.17.84
botocore==1.20.84
certifi==2020.12.5
chardet==4.0.0
click==8.0.1
colorama==0.4.4
distlib==0.3.6
Django==3.2.3
filelock==3.9.0
Flask==2.2.2
Flask-RESTful==0.3.9
gunicorn==20.1.0
huggingface-hub==0.9.0
idna==2.10
importlib-metadata==5.2.0
itsdangerous==2.1.2
Jinja2==3.1.2
jmespath==0.10.0
joblib==1.0.1
MarkupSafe==2.1.1
nltk==3.8
numpy==1.22.3
packaging==20.9
pandas==1.2.4
Pillow==9.3.0
platformdirs==2.6.2
pyparsing==2.4.7
python-dateutil==2.8.1
pytorch-pretrained-bert==0.6.2
pytz==2021.1
PyYAML==6.0
regex==2021.8.3
requests==2.25.1
s3transfer==0.4.2
sacremoses==0.0.45
scikit-learn==0.24.2
scipy==1.7.2
sentence-transformers==2.2.2
sentencepiece==0.1.97
six==1.16.0
sklearn==0.0
sqlparse==0.4.1
threadpoolctl==2.1.0
tokenizers==0.6.0
torch==1.13.1
torchvision==0.14.1
tqdm==4.61.0
transformers==4.22.0
typing-extensions==3.10.0.0
urllib3==1.26.5
virtualenv==20.17.1
Werkzeug==2.2.2
zipp==3.11.0
